
<h2 class="center-text header-space">Welcome to your Online Banking {{transfers.fromAccount}}</h2>

<div class="row" style="margin-top:5rem;">

        <div class="col-sm-4 animatedParent animateOnce z-index-40">
            
            <div class="panel-heading no-border clearfix">
                <canvas id="pieChart"></canvas>
            </div>

            <div>
                <div class="center-text ">
                    <h3>Transactions History</h3>
                </div>
                <div  class=" clearfix">
                    <h5 class="justify-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim cumque tenetur, porro ipsa sed explicabo vero deleniti nostrum officia maiores, necessitatibus praesentium obcaecati quaerat quia incidunt tempore, laboriosam molestias eaque.</h5>
                </div>
            </div>

        </div>

        <div class="col-sm-4 animatedParent adjust-div">
            
            <div  class="clearfix">
                <img width="320" height="200" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
            </div>
                <div class="center-text">
                    <h3>Main Expenses</h3>
                </div>
                <div  class=" clearfix">
                    <h5 class="justify-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim cumque tenetur, porro ipsa sed explicabo vero deleniti nostrum officia maiores, necessitatibus praesentium obcaecati quaerat quia incidunt tempore, laboriosam molestias eaque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim cumque tenetur, porro ipsa sed explicabo vero deleniti nostrum officia maiores, necessitatibus praesentium obcaecati quaerat quia incidunt tempore, laboriosam molestias eaque.</h5>
                </div>
            

        </div>

        <div class="col-sm-4 animatedParent animateOnce z-index-39">
            <div class="center-text ">
                <h3>CurrentBalance</h3>
            </div>
            <div class="container">
                    
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th class="truncate-text small-text">Account No.</th>
                            <th class="truncate-text small-text">Balance</th>
                            <th class="truncate-text small-text">Date of Lates Transfer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="truncate-text row-cell-text">****1234</td>
                            <td class="truncate-text row-cell-text">$400</td>
                            <td class="truncate-text row-cell-text">12/09/18</td>
                        </tr>
                        <tr>
                            <td class="truncate-text row-cell-text">****6548</td>
                            <td class="truncate-text row-cell-text">$300</td>
                            <td class="truncate-text row-cell-text">12/09/18</td>
                        </tr>
                        <tr>
                            <td class="truncate-text row-cell-text">****7458</td>
                            <td class="truncate-text row-cell-text">$700</td>
                            <td class="truncate-text row-cell-text">12/09/18</td>
                        </tr>

                        <tr>
                            <td class="truncate-text row-cell-text">****1234</td>
                            <td class="truncate-text row-cell-text">$400</td>
                            <td class="truncate-text row-cell-text">12/09/18</td>
                        </tr>
                        <tr>
                            <td class="truncate-text row-cell-text">****6548</td>
                            <td class="truncate-text row-cell-text">$300</td>
                            <td class="truncate-text row-cell-text">12/09/18</td>
                        </tr>
                        <tr>
                            <td class="truncate-text row-cell-text">****7458</td>
                            <td class="truncate-text row-cell-text">$700</td>
                            <td class="truncate-text row-cell-text">12/09/18</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

</div>

