
<div class="row" style="margin-top:5rem;">

        <div class="col-sm-4 animatedParent animateOnce z-index-45">

            <div class="panel-heading no-border clearfix">
                <h5 class="center-text ">Create new transfer</h5>
            </div>
                
            <form #transferForm="ngForm" (ngSubmit)="onSaveTransfer(transferForm)">
                <input type="text"  name="idTransfer" style="display: none">

                <fieldset >
                    
                    <div class="form-group">
                    <label for="disabledSelect">Select origin account</label>
                    <select id="" class="form-control" name="fromAccount" [(ngModel)]="this.dataApi.selectedTransfer.fromAccount">
                        <option *ngFor="let transfers of transfer"> {{transfers.fromAccount}}</option>

                    </select>
                    </div>

                    <div class="form-group">
                        <label for="disabledTextInput">Destination account</label>
                        <input type="number"  class="form-control" placeholder="Enter account" name="toAccount" [(ngModel)]="this.dataApi.selectedTransfer.toAccount">
                    </div>

                    
                    <div class="form-group">
                        <label for="disabledTextInput">Date</label>
                        <input type="date"  class="form-control" placeholder="Enter amount" name="sentAt" [(ngModel)]="this.dataApi.selectedTransfer.sentAt">
                    </div>

                    <div class="form-group">
                        <label for="disabledTextInput">Amount</label>
                        <input type="number"  class="form-control" placeholder="Enter amount" name="amount" [(ngModel)]="this.dataApi.selectedTransfer.amount">
                    </div>

                    <button type="submit" class="btn btn-primary">Transfer</button>
                    <button type="cancel" class="btn btn-default">Cancel</button>

                </fieldset>
            </form>

        </div>               


        <div class="col-sm-8 animatedParent animateOnce z-index-45">
            <div class="panel panel-default animated fadeInUp">

                    <div class="panel-heading no-border clearfix">
                        <canvas id="pieChart"></canvas>
                    </div>
            </div>
        </div>

</div>

<div class="row" style="margin-top:3rem;">
    <div class="col-md-12 animatedParent z-index-45" >
            <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th class="truncate-text small-text">Origin Account</th>
                            <th class="truncate-text small-text">Destination Account</th>
                            <th class="truncate-text small-text">Transfer Date</th>
                            <th class="truncate-text small-text">Amount</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let transfers of transfer">
                        <tr>
                            <td class="truncate-text row-cell-text">{{transfers.fromAccount}}</td>
                            <td class="truncate-text row-cell-text">{{transfers.toAccount}}</td>
                            <td class="truncate-text row-cell-text">{{transfers.sentAt}}</td>
                            <td class="truncate-text row-cell-text">${{transfers.amount}}</td>
                        </tr>
    
                    </tbody>
                </table>
    </div>

</div>

